<html>
	<head>
		<title>SpellMagic</title>
		<link rel="stylesheet" type="text/css" href="../../media/default/css/reset.css" />
		<link rel="stylesheet" type="text/css" href="../../media/default/css/grid.css" />
		<link rel="stylesheet" type="text/css" href="../../media/default/css/main.css" />
	</head>
	<body>
		<div id="sm-doc">
			<div class="container_12">
				<div class="grid_5 sm-cia">
					<h1 class="sm-logo">
						<a href="#">Spellmatcher</a>
					</h1>
					<div class="sm-desc">
						<p>Spellmatcher is an online ranked trade-card-game website. The first version is focused on Magic: The Gathering.</p>
						<p>Features include managing your own decks with cards directly from the game, playing games against your friends online, 
						participating in rankings for every game mode available in the website, selling and trading cards and much more.</p>
						<p>Keep in touch with what's happening with Spellmatcher by following us on twitter @spellmatcher.</p>
						<p>We'll release every feature as soon as it's done here in the spellmatcher website.</p>
						<p>See you in the battlefield! Spellmatcher Team</p>
					</div>
				</div>
				<div class="grid_7">
					<div class="sm-news">
						news
					</div>
					<div class="sm-register">
						<p>To be noitified about all of the major changes, and be the first to get a beta account, just register below</p>
						<form action="#" method="post">
							<fieldset>
								<legend>Resgister</legend>
								<label for="sm_name">Name:</label>
								<input type="text" value="" id="sm_name"/>
								<label for="sm_email">E-mail:</label>
								<input type="text" value="" id="sm_email" />
							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
