<!DOCTYPE html>
<?python from genshi import HTML ?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
    <xi:include href="master.html" />
    <head>
        <title>Home</title>
    </head>
    <body>
        Home Page

        <div class="news">
            <div py:for="item in news" class="news-item">
                <div class="news-date">[${item.str_date}]</div>
                <div class="news-content">${HTML(item.content)}</div>
            </div>
        </div>
    </body>
</html>
